:root {
    --dark: #282828;
    --darkest: #1d1d1d;
    --light: #e9e9e9;

    --mainfont: Hack, Menlo, monospace;
    --mainweight: 100;

    --red: #cc241d;
    --orange: #d65d0e;
    --yellow: #d79921;
    --green: #689d6a;
    --purple: #b16286;

}

html {
    background-image: linear-gradient(to top, black 0%, black 50%, white 50%, white 100%);
    color: var(--light);
    height: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.centerthing {
    width: 42rem;
    min-width: 400px;
    position: absolute;
    justify-content: center;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.colourchange {
    background: black;
    padding: 42px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

h1 {
    font-family: var(--mainfont);
    font-weight: var(--mainweight);
}
.colourchange h1 {
    margin-top: 0;
}

#search input{
    background-image: linear-gradient(to right, white 0%, black 100%);
    border: none;
    width: 90%;
    height: 30px;
    padding: 5px;
    color: black;
    font-family: var(--mainfont);
}
